.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  padding-top: 3rem;
}

#sobremi, #curriculum, #contacto {
 background-color: #1e2326;
}

#skills,#proyectos{
  background-color:#2f3335
}

#footer{
  padding-top: 0;
}

